<ion-header>
  <ion-toolbar>
    <ion-title>{{ mode === 'create' ? 'Create' : 'Edit' }} Category</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div
      class="error-msg"
      *ngIf="name.invalid && name.touched"
    >Field can't be empty
    </div>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <div
      class="error-msg"
      *ngIf="description.hasError('required') && description.touched"
    >Field can't be empty
    </div>
    <div
      class="error-msg"
      *ngIf="description.hasError('maxlength') && description.touched"
    >Description should be 100 characters max
    </div>

    <ng-container *ngIf="isLoaded">
      <app-image-loader
        [cameraSourceType]="imageFrom"
        [showPreview]="showPreview"
        [defaultPreview]="defaultPreview"
        (imgPicked)="onImgPicked($event)"
      ></app-image-loader>
    </ng-container>
    <ion-button
      class="ion-margin-vertical"
      color="primary"
      expand="block"
      [disabled]="!(isDirty$ | async) && !isImgModified"
      (click)="onSubmit()"
    >{{ mode === 'create' ? 'Create' : 'Edit' }}</ion-button>
  </form>
</ion-content>