#map {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}

ion-chip {
  background: #fff;
}

.filter {
  position: absolute;
  z-index: 1000;
  top: 10px;
}

ion-select::part(text) {
  display: none !important;
}

.chips {
  position: absolute;
  z-index: 1000;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}