<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>Product Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(product$ | async) as product">
    <ion-img [src]="product.photoUrl"></ion-img>
    <ion-list class="ion-padding-vertical">
      <ion-item>
        <ion-label>
          <div class="title ion-text-capitalize">{{ product.name }}</div>
          <p>created: {{ product.checkIn | date:'longDate' }}</p>
        </ion-label>
        <ion-note slot="end">{{ product.price | currency }}</ion-note>
      </ion-item>
    </ion-list>
    <div class="description ion-padding">{{ product.description }}</div>
  </ng-container>
</ion-content>
